.parent-search {
    flex: 1;
    text-align: center;
}
.moviebox {
    margin-top: 50px
}
.mnItem {
    margin-right: 20px;
}
.example-card {
    margin-left: 20px;
    margin-top: 10px;
    flex: 1 auto;
}
.image {
    width: 210px;
    height: 350px;
}
.spanpopular {
    margin-right: 10px;
    font-size: 12px;
}
.spandate {
    margin-left: 30px;
}

  